{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>MusixCue</title>

        <link rel="stylesheet" type="text/css" href="{% static "components/reset.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/site.css" %}">

        <link rel="stylesheet" type="text/css" href="{% static "components/container.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/grid.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/header.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/image.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/menu.css" %}">

        <link rel="stylesheet" type="text/css" href="{% static "components/divider.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/segment.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/form.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/input.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/button.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/list.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/message.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/icon.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/card.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/dropdown.css" %}">

        <link rel="stylesheet" type="text/css" href="{% static "stylesheet/bootstrap.min.css" %}">


        <script src="{% static "javascript/jquery-3.3.1.min.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{% static "javascript/semantic.min.js" %}"></script>

        <script src="{% static "javascript/bootstrap.min.js" %}"></script>
        <!--
        <script src="{% static "components/dropdown.js" %}"></script>
        <script src="{% static "components/form.js" %}"></script>
        <script src="{% static "components/transition.js" %}"></script>
        -->
        <style type="text/css">
          body {
            background-image: url("{% static 'image/snow.png' %}");
          }
          .ui.menu .item img.logo {
            margin-right: 1.5em;
          }
          .main.container {
            margin-top: 100px;
          }
          .wireframe {
            margin-top: 2em;
          }
          .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
          }
          #banner{
            background-image: url("{% static 'image/banner.jpeg' %}");
            background-position: center;
          }
          .sidemenu{
            background-color: rgba(0, 0, 0, 0.8);
            width: 350px;
            top: 300px;
            height: 100%;
            left: -350px;
            position: fixed;
          }
          .sidemenu > button {
            position: absolute;
            top: 150px;
            left: 350px;
            width: 52px;
            height: 132px;
          }
          .modal_input{
            margin-left: 10px;
            border-left-width: 1px;
            margin-bottom: 10px;
          }
        </style>

        <link href="{% sass_src "default.scss" %}" rel="stylesheet" type="text/css" />
        <script>
          function getId(url) {
              var regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
              var match = url.match(regExp);

              if (match && match[2].length == 11) {
                  return match[2];
              } else {
                  return 'error';
              }
          }

          function isElementOverflowing(element) {
              var overflowX = element.offsetWidth < element.scrollWidth,
                  overflowY = element.offsetHeight < element.scrollHeight;

              return (overflowX || overflowY);
          }

          $(function(){

            var duration = 300;

            var $aside = $('.sidemenu');
            var $asidButton = $aside.find('button')
              .on('click', function(){
                $aside.toggleClass('open');
                if($aside.hasClass('open')){
                  $aside.stop(true).animate({
                    left: '0px'
                  }, duration, function(){});
                  $asidButton.find('i').attr('class', 'angle left icon');
                }else{
                  $aside.stop(true).animate({
                    left: '-350px'
                  }, duration, function(){});
                  $asidButton.find('i').attr('class', 'angle right icon');
                }
              });



            setInterval(showNext, 7500);
            var index = 0;

            function showNext(){
              if(index == 0){
                $('#banner').css('background-image', "url({% static 'image/banner.jpeg' %})").fadeToggle();
                $('#banner').css('background-image', "url({% static 'image/banner2.png' %})").fadeToggle();
                index += 1;
              }else if(index == 1){
                $('#banner').css('background-image', "url({% static 'image/banner2.png' %})").fadeToggle();
                $('#banner').css('background-image', "url({% static 'image/banner3.png' %})").fadeToggle();
                index += 1;
              }else{
                $('#banner').css('background-image', "url({% static 'image/banner3.png' %})").fadeToggle();
                $('#banner').css('background-image', "url({% static 'image/banner.jpeg' %})").fadeToggle();
                index = 0;
              }
            }

          });

          var songid = "1";

          $(document).ready(function(){
            $(".add_to_playlist").click(function(){
                songid = $(this).attr('id');
                var jqxhr = $.get( "/accounts/logging", function() {
                    $('#add_playerlist').modal('show');
                }).fail(function() {
                    window.location.href = "accounts/login";
                });
            });
            var $videoSrc, $videoId;
            $(".listen_music").click(function(){
                $videoSrc = $(this).data('url');
                console.log($videoSrc);
                $videoId = getId( $videoSrc )
                console.log($videoId);
                $("#video").attr('src', "//www.youtube.com/embed/" + $videoId + "?rel=0&amp;showinfo=0&amp;modestbranding=1&amp;autoplay=1" );
                $('#play_video_modal').modal('show');
            });

          });


          $(function(){
            var jqxhr = $.get( "/get_my_playlist" , function() {
            }).done(function( response ) {
              a_tag = "";
              response.data.forEach(function(element){
	               a_tag += "<div class='modal_input'><input type='radio' name='radioval' style='width: 30px;' value='" + element.PlayListID + "'>" + element.PlayListName + "</input></div>";
              });
              $('.playlisting').html(a_tag);
            });
          });


        </script>
    </head>
    <body class="default">
      <div class="pusher">
        <div class="ui fixed inverted menu">
          <div class="ui container">
            <a href="/" class="header item">
            MusixCue
            </a>
            {% if request.user.is_authenticated %}
                <a href="/accounts/info" class="header item">個人資料</a>
                <a href="/playlist" class="header item">播放清單</a>
                <div class="header item right" style=" padding-top: 0px; padding-bottom: 0px; padding-left: 0px;">
                  <a class="header item" href="/accounts/info" style="text-align: center;">Hello {{ username }}! </a>
                  <a href="/accounts/logout" class="header item">登出</a>
                </div>
            {% else %}
                <a href="/accounts/login/" class="header item">登入</a>
                <a href="/accounts/register/" class="header item">註冊</a>
            {% endif %}
          </div>
        </div>
        <div id="content">
          <div class="ui vertical stripe segment" style="height: 185px;padding-bottom: 20px;margin-top: 40px;padding-top: 20px;" id="banner">
            <div class="ui container">
                <h1 class="ui header">
                    MusixCue
                    <div class="sub header">
                        Your Music Starts Here<i class="music right icon"></i>
                    </div>
                </h1>
            </div>
          </div>
          <div class="ui vertical stripe segment">
            <div class="ui divided relaxed grid stackable container">
              <div class="row">
                <article class="twelve wide column">
                  <div class="ui tab active" data-tab="bootstrap">
                    {% if not request.user.is_authenticated %}
                      <p>沒有MusixCue帳號？<a href="/accounts/register/" class="header item">註冊新帳號</a></p>
                    {% endif %}
                    <h2 class="ui dividing header">
                      音樂清單
                    </h2>
                    <div class="ui two stackable doubling cards" style="margin-top: 0.875rem !important">
                    {% for item in ls_return %}
                        <div class="ui raised link card">
                          <div class="content">
                            <div class="header">
                              {{ item.SongName }}
                            </div>
                            <div class="description">
                              {{ item.ArtistName }} - {{ item.AlbumName }}
                            </div>
                          </div>
                          <div class="extra content">
                            <div class="ui three item menu">
                              <a class="ui button item" href="/comment/?songid={{ item.SongID }}">歌曲資料</a>
                              <a class="ui button item add_to_playlist"  id="{{ item.SongID }}">加入播放清單</a>
                              <a class="ui button item listen_music" data-url="{{ item.SongLink }}">試聽</a>
                            </div>
                          </div>
                        </div>
                        <div class="ui hidden divider"></div>
                    {% endfor %}
                    </div>
                  </div>
                </article>
                {% if request.user.is_authenticated %}
                  <aside class="four wide column">
                    <h2 class="ui dividing header">
                      Playlist
                    </h2>
                    <ul id="playlist" style="padding-left: 0px;">
                      {% for item in ls_return %}
                      <li class="list-group-item ui button item listen_music" data-url="{{ item.SongLink }}" style="margin-bottom: 5px; width: 90%;">
                        {% if item.Art_Song|length > 18 %}
                          <marquee direction="left" scrollamount="3" style="float: left; width: 70%;">{{item.Art_Song}}</marquee>
                        {% else %}
                          <span style="float: left; text-align: left; width: 70%;">{{item.Art_Song}}</span>
                        {% endif%}
                        <i class="play icon" style="float: right; width: 15%;" ></i>
                      </li>
                      {% endfor %}
                    </ul>
                  </aside>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <aside class="sidemenu" style="z-index: 10">
        <ul>
          <h2 class="ui dividing header" style="color:#ffffff;margin-top: 10px;">
              快速搜尋
          </h2>
          <form action="/search/" method="get">
            <div class="ui left icon input">
              <i class="search icon"></i>
              <input type="text" id="search_artist" name="artist" style="margin-top: 10px;margin-bottom: 10px;" placeholder="找藝人...">
            </div>
            <div class="ui left icon input">
              <i class="search icon"></i>
              <input type="text" id="search_album" name="album" style="margin-top: 10px;margin-bottom: 10px;" placeholder="找專輯...">
            </div>
            <div class="ui left icon input">
              <i class="search icon"></i>
              <input type="text" id="search_song" name="song" style="margin-top: 10px;margin-bottom: 20px;" placeholder="找歌曲...">
            </div>
            <div>
              <button class="ui button">Submit</button>
            </div>
          </form>
        </ul>
        <button><i class="angle right icon">快速搜尋</i></button>
      </aside>
      <div class="modal" id="add_playerlist" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">加入播放清單</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>請選擇要加入的播放清單</p>
            </div>
            <div class="playlisting">
            </div>
            <div class="modal-footer">
              <button id="add" type="submit" class="btn btn-primary">加入</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal" id="play_video_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-body" style="background-color: white;" >
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="" id="video"  allowscriptaccess="always">></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

    </body>
    <script>

      $(document).ready(function(){
        $("#add").click(function(result){
          $.get("/add_song_to_playlist?song_id=" + songid + "&playlist_id=" + $('input[name=radioval]:checked').val(), function(result){
            $('#add_playerlist').modal('toggle');
            $('input[name=radioval]:checked').prop("checked", false );
          }).fail(function( jqXHR, textStatus, errorThrown ) {
            $('#add_playerlist').modal('toggle');
            $('input[name=radioval]:checked').prop("checked", false );
          });
        });
      });

    </script>
</html>
