{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>MusixCue</title>

        <link rel="stylesheet" type="text/css" href="{% static "components/reset.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/site.css" %}">

        <link rel="stylesheet" type="text/css" href="{% static "components/container.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/grid.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/header.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/image.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/menu.css" %}">

        <link rel="stylesheet" type="text/css" href="{% static "components/divider.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/segment.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/form.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/input.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/button.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/list.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/message.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/icon.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/card.css" %}">

        <script src="{% static "javascript/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "javascript/semantic.min.js" %}"></script>
        <script src="{% static "components/form.js" %}"></script>
        <script src="{% static "components/transition.js" %}"></script>

        <script src="{% static "javascript/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "javascript/semantic.min.js" %}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <style type="text/css">
          body {
            background-image: url("{% static 'image/snow.png' %}");
          }
          .ui.menu .item img.logo {
            margin-right: 1.5em;
          }
          .main.container {
            margin-top: 100px;
          }
          .wireframe {
            margin-top: 2em;
          }
          .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
          }
          p {
            font-weight: bold;
          }
          #banner{
            background-image: url("{% static 'image/banner-account.png' %}");
            background-position: center;
          }

        </style>

        <link href="{% sass_src "default.scss" %}" rel="stylesheet" type="text/css" />
    </head>
    <body class="default">
      <div class="pusher">
        <div id="content">
          <div class="ui fixed inverted menu">
            <div class="ui container">
              <a href="/" class="header item">
              MusixCue
              </a>
              <a href="/playlist" class="header item">播放清單</a>
              {% if request.user.is_authenticated %}
                  <a href="/accounts/logout" class="header right item">登出</a>
              {% endif %}
            </div>
          </div>
          <div class="ui vertical stripe segment" style="height: 185px;padding-bottom: 20px;margin-top: 40px;padding-top: 20px;" id="banner">
            <div class="ui container">
                <h1 class="ui header">
                    MusixCue
                    <div class="sub header">
                        Your Music Starts Here<i class="music right icon"></i>
                    </div>
                </h1>
            </div>
          </div>
          <div class="ui vertical stripe segment">
            <div class="ui divided relaxed grid stackable container">
              <div class="row">
                <article class="twelve wide column">
                  <div class="ui tab active" data-tab="bootstrap">
                    <h2 class="ui dividing header">
                      會員個人資料
                    </h2>
                    <div class="ui two column middle aligned very relaxed stackable grid">
                      <div class="column">
                        <div class="ui form">
                          <div class="field">
                            <label>Username:</label>
                            <div class="ui left icon input">
                              <input type="text" value="{{ request.user.username }}" style="background-color:#e0e0eb;" readonly>
                              <i class="user icon"></i>
                            </div>
                          </div>
                        </div>
                        <form class="ui form" action="." method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </form>
                      </div>

                      <div class="center aligned column">
                        <div class="ui big green labeled icon submit button" id="submit">
                          <i class="signup icon"></i>
                          儲存
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
    <script type="text/javascript">
      $('#submit').click(function() {
        swal({
          title: "成功更新個人資料",
          icon: "success",
          buttons: "Ok",
        }).then((value) => {
          document.forms[0].submit();
        });
      });
    </script>
</html>
