{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>MusixCue</title>

        <link rel="stylesheet" type="text/css" href="{% static "components/reset.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/site.css" %}">

        <link rel="stylesheet" type="text/css" href="{% static "components/container.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/grid.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/header.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/image.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/menu.css" %}">

        <link rel="stylesheet" type="text/css" href="{% static "components/divider.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/segment.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/form.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/input.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/button.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/list.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/message.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/icon.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/icon.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/card.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "components/table.css" %}">

        <link rel="stylesheet" type="text/css" href="{% static "stylesheet/bootstrap.min.css" %}">


        <script src="{% static "javascript/jquery-3.3.1.min.js" %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{% static "javascript/semantic.min.js" %}"></script>

        <script src="{% static "javascript/bootstrap.min.js" %}"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <style type="text/css">
          body {
            background-image: url("{% static 'image/snow.png' %}");
          }
          .ui.menu .item img.logo {
            margin-right: 1.5em;
          }
          .main.container {
            margin-top: 100px;
          }
          .wireframe {
            margin-top: 2em;
          }
          .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
          }
          p {
            font-weight: bold;
          }
          #banner{
            background-image: url("{% static 'image/banner.jpeg' %}");
            background-position: center;
          }

        </style>

        <link href="{% sass_src "default.scss" %}" rel="stylesheet" type="text/css" />
        <script>
          $(document).ready(function(){
            $(".large.edit.icon").click(function(){
                playlist = $(this).attr('id');
                var jqxhr = $.get( "/accounts/logging", function() {
                    $('#rename_playerlist').modal('show');
                });
            });
          });
        </script>
    </head>
    <body class="default">
      <div class="pusher">
        <div id="content">
          <div class="ui fixed inverted menu">
            <div class="ui container">
              <a href="/" class="header item">
              MusixCue
              </a>
              <a href="/accounts/info" class="header item">個人資料</a>
              {% if request.user.is_authenticated %}
                  <a href="/accounts/logout" class="header right item">登出</a>
              {% endif %}
            </div>
          </div>
          <div class="ui vertical stripe segment" style="height: 185px;padding-bottom: 20px;margin-top: 40px;padding-top: 20px;" id="banner">
            <div class="ui container">
                <h1 class="ui header">
                    MusixCue
                    <div class="sub header">
                        Your Music Starts Here<i class="music right icon"></i>
                    </div>
                </h1>
            </div>
          </div>
          <div class="ui vertical stripe segment">
            <div class="ui divided relaxed grid stackable container">
              <div class="row">
                <article class="twelve wide column">
                  {% for item in ls_return %}
                  <div id="list{{ item.playlist_id }}" class="ui tab active" data-tab="bootstrap" style="margin-bottom: 20px;">
                    <div>
                      <i id="{{ item.playlist_id }}" class="large edit icon" style="float: left;"></i>
                      <h2 style="float: left; margin-bottom: 0px; margin-top: 0px;" >{{ item.playlist_name }}</h2>
                      <button class="ui red button" id="{{ item.playlist_id }}" style="float: right;" >刪除</button>
                    </div>
                    <div class="ui two column middle aligned very relaxed stackable grid" style="margin-top: 0.875rem !important">
                    </div>
                      <table class="ui large striped celled table">
                        <thead>
                          <tr>
                            <th style="width: 2%; "></th>
                            <th class="six wide">歌名</th>
                            <th class="four wide">專輯</th>
                            <th class="three wide">藝人</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for i in item.songs %}
                          <tr>
                            <td><i id="song_id={{ i.SongID }}&playlist_id={{item.playlist_id}}" class="trash icon" style="width: 100%;"></i></td>
                            <td><a href="/comment?songid={{ i.SongID }}">{{ i.SongName }}</td>
                            <td>{{ i.AlbumName }}</td>
                            <td>{{ i.ArtistName }}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                  </div>
                  {% endfor %}
                </article>
                <aside class="four wide column">
                  <h2 class="ui dividing header">
                    我的播放清單
                  </h2>
                  <div class="ui action input">
                    <input type="text" id="playlist_name" placeholder="新增播放清單...">
                    <button class="ui button" type="submit" id="add_new_playlist_icon">新增</button>
                  </div>
                  <div class="ui middle aligned divided list">
                    {% for item in ls_return %}
                    <div class="item">
                      <div class="content">
                        <a class="header" href="#list{{ item.playlist_id }}" style="height: 20px;">{{ item.playlist_name }}</a>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </aside>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal" id="rename_playerlist" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">修改播放清單名稱</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="ui input">
                <input id="new_name" type="text" placeholder="新名稱...">
              </div>
            </div>
            <div class="modal-footer">
              <button id="accept" type="submit" class="btn btn-primary">確認</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            </div>
          </div>
        </div>
      </div>
    </body>
    <script>
      $(document).ready(function(){
        $("#add_new_playlist_icon").click(function(){
          var jqxhr = $.get( "/create_playlist?playlist_name=" + $('#playlist_name').val(), function() {
              $('#playlist_name').val("");
              window.location.href = "/playlist";
          });
        });

        $(".ui.red.button").click(function(){
          swal({
            title: "你確定刪除嗎?",
            text: "一但刪除播放清單，會將歌曲紀錄一併刪除！",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
              swal({
                title: "你成功刪除播放清單",
                icon: "success",
              }).then((value) =>{ $.get( "/delete_playlist?playlist_id=" + $(this).attr('id') , function() {
                                    window.location.href = "/playlist";
                                  }).fail(function() {
                                    swal({ title:"刪除失敗！", icon: "warning"});
                                  })});

            }
          });
        });

        $("#accept").click(function(){
          var jqxhr = $.get( "/modify_playlist_name?playlist_id=" + playlist + "&playlist_name=" + $('#new_name').val() , function() {
              window.location.href = "/playlist";
          }).fail(function() {

          });
        });

        $(".trash.icon").click(function(){
          swal({
            title: "你確定將歌曲從播放清單移除?",
            icon: "warning",
            buttons: true,
            dangerMode: true,
          })
          .then((willDelete) => {
            if (willDelete) {
              var jqxhr = $.get( "/delete_song_from_playlist?" +$(this).attr('id') , function() {
                  window.location.href = "/playlist";
              });
            }
          });
        });

      });
    </script>
</html>
